AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BasedOnStyle: llvm
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
ColumnLimit: 85
IndentWidth: 2
SortIncludes: false
